git+https://github.com/LordOfPolls/discord-py-slash-command
git+https://github.com/Rapptz/discord.py
PyNaCl==1.3.0
dnspython==1.16.0
requests
python-dotenv
opuslib
asyncio
youtube-dl
discord
pip
ffmpeg